<%- include("../../header") -%>

  <div class="row d-flex justify-content-center">

    <a href="/app/delivery/dashboard"
      class="border-bottom border-left border-right product-card cursor-pointer product-card-top-border">
      <div class="product-card-heading">Dashboard</div>
      <p>you can see the photos from here</p>
    </a>

  </div>

  <%- include("../../footer") -%>