<%- include("../../header") -%>

    <link rel="stylesheet" href="/stylesheets/app/request.css">
    <div class="d-flex justify-content-center">
        <h5>add your folder link here</h5>
    </div>
    <div class="d-flex justify-content-center card-container">
        <form class="col-12 col-md-6 justify-content-center form-container" id="request-form">
           
                <div class="mb-3 question">
                    <label for="haldifunction" class="form-label">
                        haldi function link
                    </label>
                    <input type="text" name="haldifunction" class="form-control" placeholder="haldifunction">
                </div>
                
            
           
                <div class="mb-3 question">
                    <label for="mehandifunction" class="form-label">
                        mehandi function link
                    </label>
                    <input type="text" name="mehandifunction" class="form-control" placeholder="mehandifunction">
                </div>
            
        
                <div class="mb-3 question">
                    <label for="sangeetfunction" class="form-label">
                        sangeet function link
                    </label>
                    <input type="text" name="sangeetfunction" class="form-control" placeholder="sangeetfunction">
                </div>
            
            
                <div class="mb-3 question">
                <label for="marriagefunction" class="form-label">
                    marriage function link
                </label>
                <input type="text" name="marriagefunction" class="form-control" placeholder="marriagefunction">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </form>
    </div>
    </div>
    <script src="/javascript/app/user/request.js"></script>

<%- include("../../footer") -%>